// Estilos generales CSS
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#031B29;
  padding: 10px 20px;

  ul {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: auto;

    li {
      margin-right: 20px;

      a {
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        color: white;
        padding: 5px 10px;
        transition: background-color 0.3s;

        &:hover {
          color: rgb(140, 140, 214);
        }

        &:active {
          color: #2e00fc;
          font-weight: 700;
        }
      }
    }
  }

  img {
    max-width: 70px;
    height: auto;
    margin-right: 3%;
  }

  .menu-toggle {
    display: none;
  }

  .avatar-container {
    display: flex;
    align-items: center;

    .avatar {
      max-width: 70px;
      height: auto;
      border-radius: 50%;
      border: 2px solid #6b6b6b8e;
      margin-left: 20px;
    }
  }

  .content {
    padding-left: 80px;
    padding-right: 40px;

    img[src="../assets/images/Logos_UAM-08.png"] {
      max-width: 70px;
      height: auto;
      margin-right: 3%;
    }
  }

  @media (max-width: 530px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    #menu-list.show-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: rgb(143, 141, 134);
      padding: 10px 20px;
      z-index: 1;
    }

    .slidePic{
      width: auto;
      height: 250px;
    }

    .uamLogo {
      display: none;
    }

    .menu-toggle {
      background: none;
      border: none;
      font-size: 24px;
      color: #ffffff;
      display: block;
    }

    img.hide-logo {
      display: none;
    }

    #menu-list {
      display: none;
      top: 60px;
      right: 10px;
      left: 0;
      padding: 10px 20px;
      z-index: 1;
      width: 100%;

      li {
        text-align: center;

        a {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;

          &:hover {
            color: blue;
            background-color: none;
          }
        }
      }

      &.show-menu {
        display: list-item;
        margin-top: 8%;
        background-color: rgb(197, 196, 193);
        flex-direction: column;
        position: absolute;
      }
    }
  }
}

/* Estilo para la sección Flexbox */
.flex1 {
background: linear-gradient(180deg,#031B29, #4b4b4b); /* Color de fondo para Flexbox */
color: white; /* Color del texto en la sección */
padding: 20px; /* Espaciado interno */
height: 620px;
}

/* Estilo para la sección Products */
.products1 {
background: linear-gradient(180deg,#4b4b4b, #868585); /* Color de fondo para Products */
color: white; /* Color del texto en la sección */
padding: 20px; /* Espaciado interno */
height: 620px;
}

/* Estilo para la sección Contact */
.contact1 {
background: linear-gradient(180deg,#868585, #c9af54); /* Color de fondo para Contact */
color: white; /* Color del texto en la sección */
padding: 20px; /* Espaciado interno */
height: 620px;
}



/* Estilo para la sección de iconos */
.icon-section {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.555);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10%;
  z-index: 3;

  a {
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    color: #ffffff8e;
    :hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;
      color: #000;
    }
  }

  i {
    font-size: 24px;
  }

  .iconlist {
    :active {
      color: black;
    }
  }
}
